body, html {
    height: 100%;
    margin: 0px;
    font-family: Arial;
  }
* {
    margin: 0px;
    padding: 0px;
}
.btn {
    background-color: rgb(20, 3, 170);
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  .btn:hover {
    background-color: #777;
  }
  
#hey{
display:flex
}
 .logo{
    background-color: #1403aa;
    color: white;
    width: 109px;
    /* align-items: baseline; */
    padding-top: 12px;
 }
.p1{
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(10, 10, 10);
  top: 94px;
  width: 22%;
  left: 5%;
  height: 64%;
  text-align: left;
  font-size: 32px;
  position: absolute;
}
.lst1{
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(10, 10, 10);
  top: 87px;
  width: 40%;
  left: 5%;
  height: 87%;
  text-align: left;
  font-size: 32px;
  position: absolute;
}
.lst2{
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(10, 10, 10);
  top: 256px;
  width: 40%;
  left: 5%;
  height: 87%;
  text-align: left;
  font-size: 32px;
  position: absolute;
}
.lst3{
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(10, 10, 10);
  top: 466px;
  width: 40%;
  left: 5%;
  height: 87%;
  text-align: left;
  font-size: 28px;
  position: absolute;

}

body{
  background-color: beige;
  background-image: url("./01-El-Haouaria-Couche-de-soleil-sur-Zembra.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
}
.p4{
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(10, 10, 10);
  top: 280px;
  left: 12%;
  font-size: 28px;
  position: absolute;

}

.formulaire{
position: absolute;
left: 20 px;
}

      
  

